*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #ffffff;
    --gray: rgb(44, 42, 42);
    --purple: rgb(165, 7, 165);
    --blue: rgb(0, 114, 177);
}

/*-- Header --*/
#headerBg{
    background-color: var(--gray);
    padding: .1rem 6.7rem;
    margin: 0px;
}

.nameContainer {
    display: flex;
    justify-content: flex-start;
}

#title {
    color: var(--white);
    padding: 0px;
    min-width: 230px;
}

#navlist {
    min-width: 265px;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

#navNames{
    color: var(--white);
}

.nav-link {
    text-decoration: none;
    color: var(--white);
    position: relative;
    opacity: 0.75;
    cursor: pointer;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 1px;
    content: "";
    position: absolute;
    background-color: var(--white);
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }

  .nav-link:link {
    color: var(--white);
  }
  .nav-link:visited {
    color: var(--white);
  }

/*-- About Me --*/
#bg {
    display: flex;
    margin: 0px;
    padding: 0px;
    min-height: 500px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), 
        url('../public/images/workspace.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
    text-align: center;
  }

#aboutContent {
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

#aboutMe{
    padding: 1rem;
    max-width: 900px;
    min-width: none;
    font-size: 24px;
    color: var(--white);
    text-shadow: 3px 3px 3px #000000;
}

#logo {
    display: flex;
    width: 200px;
    height: 200px;
    margin: auto;
}

#pc {
    margin: 0px;
    background-image: url("../public/images/html-css-js.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*-- Tech --*/
#tech {
    padding: 1rem;
}

.techTitles {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 8px;
    
}

#techRow1  {
    flex-wrap: wrap;
    padding: 2.5rem 2.5rem .5rem 2.5rem;
    justify-content: space-evenly;
}

#techRow2 {
    flex-wrap: wrap;
    padding: .5rem 2.5rem 2.5rem 2.5rem;
    justify-content: space-evenly;
}

.icon {
    display: flex;
    width: 125px;
    height: 125px;
    padding: 1rem;
    margin: auto;
}

/*-- Contact --*/
.contactPage {
    margin: 0px;
    padding: 0px;
    min-height: calc(100vh - 104px);
}

#contactContainer {
    margin: 0px;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

#contactLeft {
    align-items: center;
}

.leftContent {
    text-align: center;
}

#contactLogo {
    width: 260px;
    height: 260px;
}

#info {
    padding: 10px;
    margin: 0px;
}

.githubContact, .linkedinContact {
    font-size: 2rem;
    color: black;
    padding: 0px 5px;
}

.githubContact:hover {
    color: var(--purple);
}

.linkedinContact:hover {
    color: var(--blue);
}

#contactright {
    align-items: center;
}

.rightContent {
    text-align: left;
    max-width: 500px;
    margin: auto;
}

.contactTitle {
    font-size: 2rem;
    font-family: sans-serif;
    color: #000000;
    padding: 5px;
    border-bottom: 1px solid var(--gray);
}

.nameTitle, .emailTitle, .messageTitle {
    margin: 0px;
    padding-top: 8px;
    font-weight: bolder;
    display: block;
}

#submit {
    padding: 1px 3px;
    border-radius: 8px;
    display: block;
}

#submit:hover {
    background-color: var(--gray);
    color: var(--white);
}

/*-- Portfolio --*/
#portContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 1rem;
}

#cardContain {
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
    padding: .3rem;
}

#card {
    padding: 10px;
    max-width: 400px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    margin: 10px;
}

.cardImg {
    max-width: 400px;
    min-height: 220px;
    border-radius: 5px;
}

.cardTitle {
    margin: 0px;
    padding: 10px 0px 5px 0px;
}

.cardPara {
    margin: 0px;
    padding-bottom: 10px;
}

#ghBtn, #webBtn {
    padding: 1px 3px;
    margin: 0px 5px;
    border: 2px solid var(--gray);
    border-radius: 5px;
    display: inline-block;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,.8);
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: var(--gray);
}

#ghBtn:hover, #webBtn:hover {
    background-color: var(--gray);
    color: var(--white);
}

/*-- Footer --*/
.copywright {
    color: var(--white);
}

.footer h3, .logos {
    font-size: 1rem;
    margin: 0px;
}

.foot-logos {
    padding-right: 10px;
}

.github, .linkedin {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
}

.github:hover {
    color: rgb(165, 7, 165);
}

.linkedin:hover {
    color: rgb(0, 114, 177);
}

.footer {
    padding: 0.5rem calc((100vw - 1200px) / 2);
    background-color: var(--gray);
}

@media screen and (max-width: 540px){
    .contactTitle {
        font-size: 1.5rem;
    }
    #contactContainer {
        padding: .5rem;
    }
    #contactLeft, #contactright {
        padding: 1rem .5rem;
    }
    .leftContent {
        text-align: left;
    }
    #portContainer {

        padding: 0.3rem 1rem;
    }
}


@media screen and (max-width: 768px) {
    #headerBg {
        padding: .1rem 0rem;
    }
    .nameContainer {
        justify-content: center;
    }
    .nav {
        justify-content: center;
    }
    .icon {
        display: flex;
        text-align: center;
        width: 100px;
        height: 100px;
        padding: 1rem;
        margin: auto;
    }
    .contactContainer{
        margin: auto;
    }
    #contactLeft, #contactright {
        padding: 1rem .5rem;
    }
    .leftContent {
        text-align: center;
    }
    .rightContent {
        text-align: center;
        margin: auto;
    }
    #submit{
        text-align: center;
        margin: auto;
    }
  }

