* {
    font-family: sans-serif;
}

:root {
    --white: #ffffff;
}

body {
background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), 
    url('./assets/mountain-night.jpg');
height: 100vh;
background-position: center;
background-size: cover;
padding: 0.5rem calc((100vw - 1200px) / 2);
}

h1 {
    color: var(--white);
}

.nav-list {
    color: var(--white);
}
